---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="djne-container">
		<h1 class="djne-heading-2 djne-margin-block-12">
			<span class="djne-fs-900">Oh no!</span><br />The page you are looking for doesn't exist! 😟
		</h1>
	</div>
</BaseLayout>
