---
import LogoLink from "./LogoLink.astro";
import PrimaryNavigation from "./PrimaryNavigation.astro";
import SocialLinks from "./SocialLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer class="djne-site-footer">
	<div class="djne-container">
		<div class="djne-flex-group djne-align-center">
			<LogoLink />
			<PrimaryNavigation label="footer navigation">
				<li><a href="#">Articles</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</PrimaryNavigation>
			<SocialLinks />

			<p class="djne-ml-auto">&copy; <span id="footer-year">{currentYear}</span> TravelFoodFun</p>
		</div>
	</div>
</footer>

<style lang="scss">
	@use "../styles/abstracts" as *;

	.djne-flex-group {
		width: 100%;
	}

	.djne-site-footer {
		background-color: $footer-background-color;
		color: $footer-text-color;

		a {
			color: $footer-link-color;
			text-decoration: $footer-link-text-decoration;
			font-family: $footer-link-font-family;

			&:is(:hover, :focus) {
				color: $footer-link-color-hover;
			}
		}
	}
</style>

<script is:inline>
	document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
