---
import Button from "./Button.astro";
---

<div class="djne-padding-block-8">
	<p>We have got a lot more exciting blogs for you. Feel free to explore them.</p>
	<Button class="djne-button" theme="secondary" href="/articles">View all blogs</Button>
</div>

<style lang="scss">
	@use "../styles/abstracts" as *;

	div {
		border-top: $divider;
		display: flex;
		gap: $size-8;
		align-items: center;
		justify-content: space-between;
	}
</style>
