---
import BaseHead from "../components/BaseHead.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
const { title, withGradient, withGradient2 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead {title} />
	<body class:list={[{ "with-gradient": withGradient }, { "with-gradient-2": withGradient2 }]}>
		<SiteHeader />
		<main id="main">
			<slot />
		</main>
		<SiteFooter />
	</body>
</html>

<style lang="scss">
	@use "../styles/abstracts/" as *;

	body {
		display: grid;
		min-height: 100dvh;
		grid-template-rows: auto 1fr auto;
	}

	.with-gradient {
		background-image: $page-top-gradient;
		background-repeat: no-repeat;
		background-size: 100% $page-top-gradient-height;

		&-2 {
			background-image: $page-top-gradient;
			background-repeat: no-repeat;
			background-size: 100% $page-top-gradient-height-secondary;
		}
	}
</style>
