@font-face {
	font-family: "Bricolage Grotesque";
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/bricolagegrotesque-variable.woff2") format("woff2");
}
@font-face {
	font-family: "Assistant";
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/assistant-variable.woff2") format("woff2");
}
